MYSQL_ROOT_PASSWORD=1234
MYSQL_DATABASE=fifam_dev
MYSQL_USER=root
MYSQL_PASSWORD=1234

MYSQL_DSN=root:1234@tcp(localhost:3306)/fifam_dev?parseTime=true

API_GATEWAY_PORT=8080
SERVICE_CORE_PORT=8081
SERVICE_REALTIME_PORT=8082
REALTIME_BASE_URL=http://localhost:8082
JWT_SECRET=fifam-dev-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

VITE_API_BASE_URL=http://localhost:8081
VITE_WS_URL=ws://localhost:8082/ws
